* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://a.cdn-hotels.com/gdcs/production4/d149/98d071cb-6f35-4687-8d72-3958446b495e.jpg?impolicy=fcrop&w=1600&h=1066&q=medium");
    background-position: top;
    background-size: cover;
    background-color: hsla(0, 0%, 10%, 0.90);;
    font-size: calc(0.6em + 0.5vw);
}


#content-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 650px;
    height: fit-content;
    min-height: 250px;
    border: 2px black solid;
    border-radius: 25px;
    background-color: hsla(0, 0%, 10%, 0.90);;

}

#form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#search-input {
    height: 40px;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
}

#search-button {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    background-color: hsl(0, 0%, 30%);
    color: white;
}

input:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    outline: 0;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}


#weather-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    margin-top: 10px;
    padding-left: 3%;
    padding-bottom: 15px;
    color: white;
    font-family: "Open Sans", sans-serif;
}

#welcome {
    position: absolute;
    top: 50px;

}

#city { font-size: 1.75rem; }

#country { font-size: 1.5rem; }

#date { 
    display: flex;  
    font-size: 1.25em;
}

#date > p:nth-child(2) { margin-left: 10px;}



#weather-information {
    margin-top: 10px;
}

#weather-information > span{
    display: flex;
    align-items: center;
}

#weather-information > p {
    margin-top: 1px;
    font-size: 1.25em;
}

#weather-img {
    height: 40px;
    width: 40px;
    aspect-ratio: 1 / 1;
}


@media only screen and (max-width: 600px) {

    #search-input {
        width: 70%;

    }

    #content-container {
        width: 90%;

    }
  
}

/* 1. Display stuff (display, box-sizing, visibility, z-index, etc)
2. Positioning stuff (postion, top, left, right, etc)
3. Size stuff (widt+h, height, padding, margin, etc)
4. Border stuff (border, border-radius)
5. Background stuff (background, box-shadow, etc)
6. Text stuff (font-family, font-size, line-heigth, whitespace, text-align, color, etc)
7. Transforms and fancy things (transform, transitions, etc)
8. Anything else (cursor, ???, etc) */